body{
    margin: 0;
    overflow-y: scroll;
}

/* Inicio do css da nav */
nav{
    display: flex;
    align-items: center;
    background-color:white;
    height: 70px;
    justify-content: space-evenly;
    width: 100%;
}
nav img{
    height: 80%;
}

/* Inicio do css da header */

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content:  space-around;
}

.centro{
    background-color: white;
    height: 100%;
    width: 50%;
}

.resumo{
    display: flex;
    align-items: center;
    background-image: url("img/fundo-email-mkt.png");
    background-size: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 260px;
    justify-content: center;
    width: 100%;
}

.textos{
    width: 80%;
    font-size: 18pt;
    font-weight: bolder;
}
h3{
    color: rgb(34, 33, 33);
    font-family: sans-serif;
    font-weight: normal;
    text-align: justify;
}

h4{
    color: rgba(48, 46, 46, 0.815);
    font-family: sans-serif;
    font-weight: normal;
    text-align: justify;
}

button{
    border: black;
    border-radius: 20px;
    background-color: #60d13d;
    height: 45px;
    width: 300px;
    font-size: 15pt;
    color: white;
    cursor: pointer;
}

/* Fim do css da header */

/* Inicio do css do footer */
footer{
    display: flex;
    align-items: center;
    background-color: #e4e4e4;
    height: 70px;
    justify-content: space-around;
    text-align: center;
    color: grey;
}

footer a{
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

span{
    font-weight: bolder;
}